@font-face {
    font-family: poppins;
    src: url("../font/poppins.woff2");
}
:root{
    /*bg color*/
    --bg-navbar: black;
    --bg-footer: #EFEDF0;
    --bg-nav-onclick: #802e8f;

    --ba-leasing:#f4f3f5;
    /*font color*/
    --color-navbar: #FFFFFF;
    --font-color-text: #012b55;
    --font-color-link: #597188;
    /*font size*/
    --font-size-s:1.4rem;
    --font-size-m:1.6rem;
    --font-size-l:1.8rem;
    --font-size-x:2.2rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
a{
    all: unset;
}

/* navbar */
.navbar_container {
    width: 100%;
    height: 60px;
    background-color: var(--bg-navbar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.header_logo {
    margin-left: 15px;
}

.header_icon {
    max-height: 37px;
    width: 156px;
    object-fit: cover;
}

.nav_icon {
    color: var(--color-navbar);
    height: 22px;
    width: 22px;
    margin-right: 15px;
    cursor: pointer;
}
.nav_ul{
    background-color: var(--bg-navbar);
    width: 100%;
    padding: 8px;
    display: none;
}
.nav_li{
    color: var(--color-navbar);
    padding: 0 24px;
    padding-bottom: 24px;
}
/* end navbar */
/* for all page */
.main_container{
    width: 100%;
}
.black-button{
    border: none;
    color: white;
    background: black;
    width: 100px;
    height: 45px;
}
.pepper-button{
    border: none;
    color: white;
    background: #802e8f ;
    width: 384px;
    height: 45px;
}
/* end for all */
/* about-us */
.div-title--container{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f1f4;
}
.div-title--about{
    padding: 12px 24px;
    max-width: 500px;
}
.div-title--about p{
    font-size: 1rem;
    color: #00aab1;
}
.div-title--about h1{
    font-size: var(--font-size-l);
    padding-bottom: 12px;
    color: black;
}
.h1-lrem h1{
    font-size: var(--font-size-s);
    padding: 10px;
}
.p-nrem p{
    font-size: 1rem;
    color: black;
    padding: 10px;
}
.div-title--about a{
    font-size: 1rem;
    color: #802e8f;
}

.div-cartabuot--container{
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartabuot--container{
    padding: 12px;
}
.cartabuot-img{
    width: 100%;
}
.cartabuot-h2{
    font-size: var(--font-size-s);
    padding: 12px 0;
}
.cartabuot-p{
    font-size: 1rem;
    padding: 12px 0;
    padding-bottom: 24px;
}
.div-title--description{
    padding: 80px 24px;
    width: 100%;
}
.div-title--description h1{
    width: 80%;
}
.bg-description{
    background-image: url('./../images/about-os/leasing-section-bg-partial.png');
    background-repeat: no-repeat;
    background-position: left top;
}
.div-cat--description{
    width: 90%;
}
.car-description{
    padding: 12px 0;
}
.img-description{
    padding: 4px 0;
}
.p-description--bold{
font-size: var(--font-size-s);
    color: black;
    padding: 4px 0;
}
.p-description{
    font-size: 0.8rem;
    color: black;
    padding: 4px;
}
.div-cartabuot{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-cartabuot-r h1{
    font-size: var(--font-size-l);
    padding-bottom: 24px;
}
.div-cartabuot-r h2{
    font-size: var(--font-size-s);
    padding-bottom: 24px;
}
.div-cartabuot-r p{
    font-size: 0.8rem;
    padding-bottom: 24px;
}
.div-cartabuot-l img{
    width: 100%;
}
.div-cartabuot--responsive{
    padding-bottom: 24px;
}

/* end about-us */
/*Car leasing*/

.car-leasing{
    background: var(--ba-leasing);
    padding: 80px 12px;
}
.title--car-leasing{
    max-width: 500px;
    margin: 0 auto;
}
.title--car-leasing p{
    font-size: 1rem;
    color: #00aab1;
}
.title--car-leasing h1{
    font-size: var(--font-size-x);
    padding-bottom: 12px;
    color: black;
    border-bottom: 1.5px solid rgba(117, 117, 117, 0.12);
}
.list--car-leasing{
    padding-top: 24px;
    max-width: 500px;
    margin: 0 auto;
}
.div-img--leasing{
    width: 100%;
}
.div-img--leasing img{
    width: 100%;
    padding-top: 40px;
}
.title--leasing{
    font-size: var(--font-size-m);
    padding: 4px 50px;
}
.price--leasing{
    font-size: var(--font-size-m);
    padding: 4px 50px;
}
/* end Car leasing*/
/* footer */
.footer {
    width: 100%;
    background-color: var(--bg-footer);
    padding: 70px 33px;
    display: flex;
    justify-content: center;
}

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_logo {
    margin-top: 30px;
    padding: 15px 0;
}

.footer_logo_sub {
    margin-top: 50px;
    font-size: 19px;
    line-height: 23px;
    width: 263px;
}

.footer_link {
    margin-top: 30px;
    padding: 15px 0;
.material-symbols-outlined {
    font-size: 13px;
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}
}

.lab {
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
}

.inp {
    margin-top: 15px;
    border: 4px #FFFFFF solid;
    padding: 10px;
    width: 100%;
    margin-bottom: 8px;
}

.submit {
    padding: 14px 30px;
    background-color: black;
    color: #FFFFFF;
    border: none;
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: 0;
}

.submit_title {
    font-size: smaller;
    margin-bottom: 45px;
}

.phone_email {
    display: flex;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 15px;
}

.footer_copyright {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    width: 100vw;
    background-color: var(--bg-footer);
    display: flex;
    justify-content: center;

}

.footer_copyright_container {
    padding: 30px 33px 0 33px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
.material-symbols-outlined {
    font-size: 36px;
}
}

.to_top {
    margin-top: -10px;
    margin-bottom: 24px;
}

.copyright {
    font-size: 12px;
    margin-bottom: 10px;
a {
    color: #8d1da2;
    text-decoration: none;
    outline: 0;
}
}

.social {
    list-style: none outside;
    display: flex;
    justify-content: center;
    column-gap: 16px;
.fa {
    text-decoration: none;
    color: black;
}
margin-bottom: 20px;
}

@media (min-width:760px ) {
    /*  car-leasing  */
    .car-leasing{
        padding: 80px 80px;
    }
    .title--car-leasing{
        max-width: none;
    }
    .responsive-leasing--container{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .div-responsive--leasing{
        display: flex;

    }
    .list--car-leasing{
        padding:12px 12px ;
    }
    /*  end  car-leasing  */
    /* about us */
    .div-title--container{
        flex-direction: row;
        justify-content: space-around;
    }
    .div-title--about {
        width: 40%;
    }
    .div-title--about h1{
    font-size: var(--font-size-x);
    }
    .div-cartabuot--container{
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }
    .cartabuot--container{
        padding: 80px 32px;
    }
    .div-title--description h1{
        font-size: var(--font-size-x);
        width: 60%;
    }
    .div-cat--description{
        display: flex;
        justify-content: space-around;
        padding: 0 40px;
    }
    .div-cartabuot--responsive{
        display: flex;
        justify-content: space-around;
    }
    .div-cartabuot-r {
        width: 40%;
    }
    .div-cartabuot-l {
        width: 40%;
    }
    .div-cartabuot-r h1{
        font-size: var(--font-size-x);
    }
    /* end about us*/
    /*  footer  */
    .footer_container{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    /*  end footer  */
}
@media (min-width:1240px ) {
/*  navbar  */
    nav{
        display: flex;
        width: 100%;
    }
    .navbar_container{
        height: 80px;
        width: 50%;
    }
    .nav_icon{
        display: none;
    }
    .nav_ul{
        padding: 0;
        display: block;
        display: flex;
        justify-content: right;
        list-style: none;
        width: 50%;

    }
    .nav_li{
        padding: 0;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-left: #3f3f3f solid 1px;
    }
    .nav_li:hover{
        background: var(--bg-nav-onclick);
    }
    /*  end navbar  */
    /* about us */
    .div-title--about h1{
        font-size: 2.5rem;
    }
    .div-title--about {
        width: 40%;
        padding: 80px 24px;
    }
    .div-cartabuot--container{
        justify-content: center;
    }
    .cartabuot--container{
        max-width: 600px;
    }
    .div-title--description{
        width: 75%;
    }
    .div-title--description h1{
        font-size: 3rem;
        width: 50%;
    }

    .div-cartabuot--responsive{
        width: 75%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 44px;
    }
    .div-cartabuot-r {
        width: 40%;
    }
    .div-cartabuot-l {
        width: 45%;
    }
    .div-cartabuot-r h1{
        font-size: 3rem;
    }
    /* end about us*/
    /*  car-leasing  */
    .car-leasing{
        padding: 80px 140px;
    }
    /*  end  car-leasing  */
}